In [37]:
import numpy as np
import pandas as pd

In [40]:
file = "../2023-10-31 5_50pm.csv"
chunk_size = 100e3
chunks = pd.read_csv(filepath_or_buffer=file, chunksize=chunk_size, low_memory=False)       # type: ignore
first_df = next(chunks)

## Extracting information about first dataframe
print(first_df.info())
print("\n")
print(first_df.columns.to_list())
print("\n")
print(first_df.head(10))
print("\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 164 entries, SOURCE to IS_CONTACT_RATE
dtypes: bool(16), float64(61), int64(1), object(86)
memory usage: 114.4+ MB
None


['SOURCE', 'ORDER_ID', 'ID', 'AUTHOR_ID', 'COUNTRY_ID', 'BAG', 'BAG_NAME', 'SERVICE', 'REGION', 'BPO_SERVICE', 'BPO_FRT', 'BPO_CONTROLLED', 'BPO_SURVEY', 'STATE', 'USER_TYPE', 'APP_TIPIFICATION', 'AGENT_TIPIFICATION', 'GLOBAL_TIPIFICATION', 'CONTROL_REASONS_KEY', 'CHANNEL', 'FRT_BY', 'CONTROLLED_BY', 'SURVEY_BY', 'IS_ESCALATED', 'IS_DEFECT', 'IS_VALID', 'CREATED_AT_COUNTRY', 'CREATED_AT', 'VIEWED_AT', 'FRT_AT', 'CONTROLLED_AT', 'SURVEY_AT', 'SERVICE_USER_TYPE', 'SEGMENT_TYPE', 'SURVEY_RATING', 'REOPEN_COUNT', 'TYPE', 'SEGMENT_RFM', 'USER_VALUE', 'VEHICLE', 'STOREKEEPER_LEVEL', 'FRT_QUEUE', 'RESOLUTION_TIME', 'AHT_LS', 'IS_CSAT', 'ASSIGNED_USER', 'IS_SWAT', 'AGENT_VIEWED_AT', 'USER_PROCESS_TIPIFICATION', 'APP_USER_TIPIFICATION_TREE', 'USER_TIPIFICATION_TREE', 'ENTES_TIPIFICATION_TREE', 'TRAVEL_TIPIFICATION_TREE', 'PAGOS_3ER_NIVEL_TIPIFICATION_TREE', 'ARTICLE_ID', 'AUTOMATION_EXIT_RULE', 'IS_ABANDONED', 'BOT_QUEUE_AT', 'AGENT_QUEUE_AT', 'LAST_ASSIGN_AT', 'LAST_MESSAGE_AT', 'SURVEY_COMENT', 'JIRA_ESCALATED', 'TICKET', 'SNOOZED_TICKET', 'IS_SNOOZED_AGENT', 'REOPEN_SNOOZED', 'REOPEN_DONE', 'TOTAL_REOPEN_AGENT', 'IS_REOPEN_AGENT', 'IS_REOPEN_TOTAL', 'HC_VERSION', 'QUEUE_TRANSFERS', 'SERVICE_TRANSFERS', 'INITIAL_SERVICE', 'Q_TRANSFERS', 'IS_TRANSFER', 'UPDATED_AT_CO', 'CUSTOM', 'ESCALATIONS', 'INACTIVITY_WARNING', 'WARNING', 'AGENT_WARNING', 'IS_CS_BPO', 'IS_FALLBACK', 'FRAUD_RISK', 'AUTOMATION_FRAUD_RISK', 'PRIME_TYPE', 'IS_ABUSE', 'TAGS', 'SUPPORT_ASSIGNATION_TIME', 'AVERANGE_WAITING_TIME', 'TOTAL_FISRT_RESPONSE_TIME', 'CLOSING_WAIT_DONE', 'HELP_CENTER_VERSION', 'MESSAGES', 'SHORTCUTS', 'NOTES', 'LIST_SHORCUTS', 'USE_SHORTCUTS', 'URL', 'SOLUTION_TYPE', 'ADDITIONAL_QUESTION', 'HAS_COMPENSATION', 'SNOOZED_PENDING_BY_RAPPI', 'SNOOZED_PENDING_BY_USER', 'HAD_SNOOZED_BY_RAPPI', 'HAD_SNOOZED_BY_USER', 'SUMMITED_TICKET_AT', 'AUTOMATED_HANDLE_AT', 'CREATED_IS_ENOUGHT_AT', 'CREATION_TIME', 'AUTOMATED_HANDLE_TIME', 'WAITING_USER_RESPONSE_IN_AUTOMATION_TIME', 'ERROR_TECH_STATE', 'HANDSHAKE', 'PAYMENTMETHODSTR', 'IS_REACTIVATION', 'CREATED_BY_AGENT', 'AUTOMATION_PROCESS', 'STAGE_OF_THE_ORDER', 'AUTOMATION_SURVEY_RATING', 'AUTOMATION_SURVEY_UPDATED_AT', 'AGENT_SURVEY_RATING', 'AGENT_SURVEY_UPDATED_AT', 'COMPENSATIONS_FRAUD_RULE', 'CREATE_ORDER_FRAUD_RULE', 'UPDATE_ORDER_FRAUD_RULE', 'TICKET_SUBMITTED', 'IS_RECONTACT', 'IS_CSAT_COMPANY', 'TARGET_PRODUCTIVIDAD', 'TARGET_AHT', 'TARGET_QFRT', 'TARGET_AUTOCONTROLADOS', 'TARGET_REOPEN', 'TARGET_CSAT', 'CRUZA_TARGETS', 'SLA', 'VERTICAL', 'VERTICAL_GROUP', 'VERTICAL_SUB_GROUP', 'IS_CANCELLED', 'BRAND_ID', 'BRAND_NAME', 'GMV_USD', 'SERVICE_TYPE', 'DELIVERY_TYPE', 'DELIVERY_OPTION', 'IS_BATCH_OR_BUNDLE', 'BUNDLE_SIZE', 'ORDER_STATE', 'ORDER_CLOSED_AT', 'STORE_ID', 'STORE_NAME', 'CITY', 'FINAL_USER_VALUE', 'HAD_BATCH_AND_BUNDLE', 'HAD_BUNDLE_SIZE', 'PLAN_NAME', 'IS_MARKETPLACE', 'IS_CARGO', 'CITY_ID', 'IS_CONTACT_RATE']


     SOURCE    ORDER_ID                        ID  \
0  KUSTOMER  67298798.0  5eb6309e9862170013a13907
1  KUSTOMER  76948516.0  5e72b90e43875e00144157fb
2  KUSTOMER  60567850.0  5ed1966c9496e300127506b5
3  KUSTOMER         NaN  5e644347dbf9c600134e2f5a
4  KUSTOMER         NaN  5e7bfd8bd2f663001ae7b128
5  KUSTOMER         NaN  5e7c04cf7097ad00126a3049
6  KUSTOMER         NaN  5ee929caeb9d050013ddc20f
7  KUSTOMER         NaN  5ef019a0c8f206001961143a
8  KUSTOMER         NaN  5ec9e8eb339584001a819471
9  KUSTOMER         NaN  5ea47fbf60e4b90014cfa22f

                                           AUTHOR_ID COUNTRY_ID  \
0                    {\n  "storekeeper_id": 89758\n}         MX
1           {\n  "application_user_id": 161313667\n}         CO
2           {\n  "application_user_id": 303067273\n}         BR
3                    {\n  "storekeeper_id": 86115\n}         MX
4  {\n  "store_id": 942000778,\n  "storekeeper_id...         MX
5                   {\n  "storekeeper_id": 123891\n}         MX
6                    {\n  "storekeeper_id": 96795\n}         MX
7           {\n  "application_user_id": 291141308\n}         MX
8           {\n  "application_user_id": 282187284\n}         MX
9                   {\n  "storekeeper_id": 103310\n}         MX

                        BAG                                  BAG_NAME  \
0  5e5d371bf9e7820019829913     SS Rappitenderos Rappitenderos Deudas
1  5dd4c8e835c24d001af672d3             SS Customer Estandar Non Live
2  632a36aa483136be618251be                         BR | Customer NHC
3  5e5d371bf9e7820019829913     SS Rappitenderos Rappitenderos Deudas
4  5e5d371bf9e7820019829913     SS Rappitenderos Rappitenderos Deudas
5  5e5d371bf9e7820019829913     SS Rappitenderos Rappitenderos Deudas
6  5e700576fc8f0a0019144ba7  SS Rappitenderos Rappitenderos Ganancias
7  5fa2a58d71cfcf0019c14ecb             SS Customer Non Live Temporal
8  5dd4c8bfea7b51001a525988                           Global | Fraude
9  5e5d371bf9e7820019829913     SS Rappitenderos Rappitenderos Deudas

          SERVICE REGION BPO_SERVICE  ...                         STORE_NAME  \
0  Debts&Earnings     SS     WEBHELP  ...                 Superama, Taxqueña
1    Chat Support     SS         BRM  ...    Tigre Comida China Barranquilla
2    Chat Support     BR         AEC  ...  [F] | McDonald's | RDR | Franquia
3  Debts&Earnings     SS     WEBHELP  ...                                NaN
4  Debts&Earnings     SS     WEBHELP  ...                                NaN
5  Debts&Earnings     SS     WEBHELP  ...                                NaN
6  Debts&Earnings     SS     WEBHELP  ...                                NaN
7    Chat Support     SS       RAPPI  ...                                NaN
8   Fraud Support     SS         BRM  ...                                NaN
9  Debts&Earnings     SS     WEBHELP  ...                                NaN

             CITY FINAL_USER_VALUE HAD_BATCH_AND_BUNDLE HAD_BUNDLE_SIZE  \
0        Santa Fe              NaN                False             NaN
1    Barranquilla               LV                False             NaN
2          Recife               LV                False             NaN
3     Guadalajara              NaN                  NaN             NaN
4     Guadalajara              NaN                  NaN             NaN
5     Guadalajara              NaN                  NaN             NaN
6       Monterrey              NaN                  NaN             NaN
7          Puebla               HV                  NaN             NaN
8  Aguascalientes               HV                  NaN             NaN
9          Mérida              NaN                  NaN             NaN

  PLAN_NAME IS_MARKETPLACE IS_CARGO CITY_ID IS_CONTACT_RATE
0  No Prime          False    False    40.0            True
1  No Prime          False    False     2.0            True
2  No Prime          False    False    33.0            True
3       NaN            NaN    False     6.0            True
4       NaN            NaN    False     6.0            True
5       NaN            NaN    False     6.0            True
6       NaN            NaN    False     4.0            True
7       NaN            NaN    False    16.0            True
8       NaN            NaN    False    52.0           False
9       NaN            NaN    False    13.0            True

[10 rows x 164 columns]

In [41]:
print(len(first_df['ID'].unique()))    # Unique ID
print(len(first_df['ORDER_ID'].unique()))    # Unique ORDER_ID

100000
68196

In [43]:
nat = first_df[['USER_VALUE', 'CUSTOM', 'FINAL_USER_VALUE']]
nat.head(10)

,USER_VALUE,CUSTOM,FINAL_USER_VALUE
0,Unidentified,"{""authorIdStr"":""89758"",""authorTypeStr"":""storek...",NaN
1,LV,"{""authorIdStr"":""161313667"",""authorTypeStr"":""en...",LV
2,LV,"{""articleIdStr"":""5d5f2ba0bd60b10013bf16c2"",""au...",LV
3,Unidentified,"{""authorIdStr"":""86115"",""authorTypeStr"":""storek...",NaN
4,Unidentified,"{""authorIdStr"":""100633"",""authorTypeStr"":""store...",NaN
5,Unidentified,"{""authorIdStr"":""123891"",""authorTypeStr"":""store...",NaN
6,Unidentified,"{""articleIdStr"":""5eca8d0b14d7760019cdd6dc"",""au...",NaN
7,HV,"{""articleIdStr"":""5d5f2c018f1ede0012c51e33"",""au...",HV
8,HV,"{""articleIdStr"":""5e6a2682598464001a8d0569"",""au...",HV
9,Unidentified,"{""authorIdStr"":""103310"",""authorTypeStr"":""store...",NaN

In [36]:
target_columns = ['CREATED_AT','AHT_LS', 'SURVEY_RATING', 'FRT_QUEUE', 'SLA']
first_df = first_df[target_columns]
first_df.info()
first_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   CREATED_AT     1000000 non-null  object
 1   AHT_LS         439063 non-null   float64
 2   SURVEY_RATING  92685 non-null    float64
 3   FRT_QUEUE      669997 non-null   float64
 4   SLA            386273 non-null   float64
dtypes: float64(4), object(1)
memory usage: 38.1+ MB

                 CREATED_AT  AHT_LS  SURVEY_RATING   FRT_QUEUE  SLA
0  2020-05-08T23:25:02.146Z     NaN            NaN  148754.053  0.0
1  2020-03-18T19:13:02.217Z     NaN            NaN   55511.403  0.0
2  2020-05-29T20:10:36.764Z     NaN            NaN         NaN  0.0
3   2020-03-07T19:58:47.69Z     NaN            NaN  412841.272  0.0
4  2020-03-25T19:55:39.036Z     NaN            NaN       0.639  1.0